<%- include header %>
<div class="wrapper">
    <div class="story_header"
         style="background-image: url('/uploads/<%= post.imgUrl %>')">
        <div class="story_header_cover"></div>
        <div class="story_header_imgContainer">
            <div class="story_header_imgContainer_img">
                <img data-no-retina="" alt="<%= post.title %>"
                     src="/uploads/<%= post.imgUrl %>"  onerror="this.src='uploads/default.jpg'">
            </div>
        </div>
        <div class="story_header_cover story_header_cover-second"></div>
        <div class="story_header_inner">
            <div class="story_header_text">
                <h1 class="story_title" id="j_title_preview">
                    <%= post.title %>
                </h1>
                <p class="story_desc" id="j_desc_preview">

                </p>
                <p class="story_info"><%= post.time.minute %></p>
            </div>
        </div>
        <a class="story_user" href="/users/15784">
            <div class="story_user_border">
                <img src="/uploads/<%= post.imgUrl %>" alt="#" onerror="this.src='uploads/default.jpg'">
            </div>
            <p class="story_user_name">
                <%= post.name %>
            </p>
        </a>
        <div class="story_consoles">
            <a class="story_consoles_pc" title="PC" href="https://www.g-cores.com/labels/7/originals">PC</a>
            <a class="story_consoles_xboxone" title="XBOX ONE" href="https://www.g-cores.com/labels/8/originals">XBOX
                ONE</a>
            <a class="story_consoles_ps4" title="PS4" href="https://www.g-cores.com/labels/9/originals">PS4</a>
        </div>
    </div>

    <div id="j_story_24907" class="story">
        <div class="story_elem story_elem-text ">
            <%- post.post %>
        </div>
        <!--<div class="story_elem story_elem-embed j_story_elem" style="">-->
            <!--<iframe src="https://www.taptap.com/video/60960/embed?thumb=https%3A%2F%2Fimg2.tapimg.com%2Fbbcode%2Fimages%2F0dc863902b44483635d842ae022c4786.png"-->
                    <!--frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="100%"></iframe>-->
        <!--</div>-->
        <!--<div class="story_elem story_elem-text ">-->
            <!--<p style="margin-left:0cm; margin-right:0cm; text-align:justify">在之前的<a-->
                    <!--href="https://www.g-cores.com/articles/101976">试玩感受</a>以及<a-->
                    <!--href="https://www.g-cores.com/articles/101976">预告分析</a>中，有关游戏目前为止展现出来的基本信息已经介绍了很多，这次我想为大家补充一些之前没有意识到、没有提到过的内容。需要说明的是，官方给出的信息十分有限，许多小的细节现阶段只能说是猜测。不过通过试玩的验证，其中大部分还是可以确定的。-->
            <!--</p>-->

        <!--</div>-->
        <!--<div class="story_elem story_elem-image ">-->
            <!--<a target="_blank"-->
               <!--href="https://alioss.g-cores.com/uploads/image/f503a8d7-550e-4d11-a79c-dc2d5ff9c8e1_watermark.png">-->
                <!--<img class="j_storyshow_lazyload"-->
                     <!--data-original="https://alioss.g-cores.com/uploads/image/f503a8d7-550e-4d11-a79c-dc2d5ff9c8e1_watermark.png"-->
                     <!--src="https://alioss.g-cores.com/uploads/image/f503a8d7-550e-4d11-a79c-dc2d5ff9c8e1_watermark.png"-->
                     <!--style="display: block;">-->
            <!--</a></div>-->
    </div>

</div>
<%- include footer %>