<%- include header %>
<form method="post">
    用户名：
    <text><%= user.name %></text>
    <br/>
    邮箱： <input type="email" name="email" value="<%= user.email %>"/><br/>
    手机：<input type="tel" name="tel" value="<%= user.tel %>"/><br/>
    QQ：<input type="text" name="qq" value="<%= user.qq %>"/><br/>
    微信：<input type="text" name="wechat" value="<%= user.wechat %>"/><br/>
    <a href="/" type="submit" class="btn btn-default">返回</a>
    <input type="submit" value="修改"/>
</form>
<%- include footer %>